In [3]:
import pandas as pd

df = pd.read_csv("player_stats_2024_2025_season.csv")

df.head()

,player_name,Nationality,Preferred Foot,Date of Birth,appearances_,sub_appearances,XA,pass_attempts,pass_accuracy,long_pass_attempts,...,Own Goals,Penalties Taken,Goals Conceded,Clean Sheets,Saves Made,Penalties Faced,penalty_attempts,penalties_scored,penalties_saved,penalty_save_precentage
0,Max Aarons,England,Right,04/01/2000,3,2,0.02,51,80,5,...,0,0,0,0,0,0,0,0,0,0
1,George Abbott,England,Right,17/08/2005,0,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Zach Abbott,England,Right,13/05/2006,0,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Josh Acheampong,England,Right,05/05/2006,4,2,0.02,123,84,14,...,0,0,0,0,0,0,0,0,0,0
4,Ché Adams,England,NaN,13/07/1996,0,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Ajout de la table

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      1116 non-null   object
 1   Nationality                      1114 non-null   object
 2   Preferred Foot                   1001 non-null   object
 3   Date of Birth                    1114 non-null   object
 4   appearances_                     1116 non-null   int64
 5   sub_appearances                  1116 non-null   int64
 6   XA                               1116 non-null   float64
 7   pass_attempts                    1116 non-null   int64
 8   pass_accuracy                    1116 non-null   int64
 9   long_pass_attempts               1116 non-null   int64
 10  long_pass_accuracy               1116 non-null   int64
 11  Minutes Played                   1116 non-null   int64
 12  Duels Won                        1116 non-null   int64
 13  Total Tackles                    1116 non-null   int64
 14  Interceptions                    1116 non-null   int64
 15  Blocks                           1116 non-null   int64
 16  Red Cards                        1116 non-null   int64
 17  Yellow Cards                     1116 non-null   int64
 18  XG                               1116 non-null   float64
 19  Touches in the Opposition Box    1116 non-null   int64
 20  Aerial Duels Won                 1116 non-null   int64
 21  Assists                          1116 non-null   int64
 22  Shots On Target Inside the Box   1116 non-null   int64
 23  cross_attempts                   1116 non-null   int64
 24  cross_accuracy                   1116 non-null   int64
 25  dribble_attempts                 1116 non-null   int64
 26  dribble_accuracy                 1116 non-null   int64
 27  Fouls                            1116 non-null   int64
 28  Goals                            1116 non-null   int64
 29  Hit Woodwork                     1116 non-null   int64
 30  Offsides                         1116 non-null   int64
 31  Shots On Target Outside the Box  1116 non-null   int64
 32  Corners Taken                    1116 non-null   int64
 33  Appearances                      1116 non-null   int64
 34  free_kick_attempts               1116 non-null   int64
 35  free_kicks_scored                1116 non-null   int64
 36  Passes                           1116 non-null   int64
 37  Own Goals                        1116 non-null   int64
 38  Penalties Taken                  1116 non-null   int64
 39  Goals Conceded                   1116 non-null   int64
 40  Clean Sheets                     1116 non-null   int64
 41  Saves Made                       1116 non-null   int64
 42  Penalties Faced                  1116 non-null   int64
 43  penalty_attempts                 1116 non-null   int64
 44  penalties_scored                 1116 non-null   int64
 45  penalties_saved                  1116 non-null   int64
 46  penalty_save_precentage          1116 non-null   int64
dtypes: float64(2), int64(41), object(4)
memory usage: 409.9+ KB

Voir s'il y a des informations importante qu'il manque à la table (notamment nationalité du joueur)

In [5]:
df.loc[df['Nationality'].isna(), ['player_name']]

         player_name
961  Freddie Symonds
976       Tom Taylor

Voir les index + nom joueur ou il manque la nationalité

In [6]:
# Lignes où Nationality est NaN
df[df['Nationality'].isna()]['player_name']

961    Freddie Symonds
976         Tom Taylor
Name: player_name, dtype: object

In [7]:
df = df.drop(index=[961, 976])

Supression des joueurs sans nationalité

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1114 entries, 0 to 1115
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      1114 non-null   object
 1   Nationality                      1114 non-null   object
 2   Preferred Foot                   1001 non-null   object
 3   Date of Birth                    1114 non-null   object
 4   appearances_                     1114 non-null   int64
 5   sub_appearances                  1114 non-null   int64
 6   XA                               1114 non-null   float64
 7   pass_attempts                    1114 non-null   int64
 8   pass_accuracy                    1114 non-null   int64
 9   long_pass_attempts               1114 non-null   int64
 10  long_pass_accuracy               1114 non-null   int64
 11  Minutes Played                   1114 non-null   int64
 12  Duels Won                        1114 non-null   int64
 13  Total Tackles                    1114 non-null   int64
 14  Interceptions                    1114 non-null   int64
 15  Blocks                           1114 non-null   int64
 16  Red Cards                        1114 non-null   int64
 17  Yellow Cards                     1114 non-null   int64
 18  XG                               1114 non-null   float64
 19  Touches in the Opposition Box    1114 non-null   int64
 20  Aerial Duels Won                 1114 non-null   int64
 21  Assists                          1114 non-null   int64
 22  Shots On Target Inside the Box   1114 non-null   int64
 23  cross_attempts                   1114 non-null   int64
 24  cross_accuracy                   1114 non-null   int64
 25  dribble_attempts                 1114 non-null   int64
 26  dribble_accuracy                 1114 non-null   int64
 27  Fouls                            1114 non-null   int64
 28  Goals                            1114 non-null   int64
 29  Hit Woodwork                     1114 non-null   int64
 30  Offsides                         1114 non-null   int64
 31  Shots On Target Outside the Box  1114 non-null   int64
 32  Corners Taken                    1114 non-null   int64
 33  Appearances                      1114 non-null   int64
 34  free_kick_attempts               1114 non-null   int64
 35  free_kicks_scored                1114 non-null   int64
 36  Passes                           1114 non-null   int64
 37  Own Goals                        1114 non-null   int64
 38  Penalties Taken                  1114 non-null   int64
 39  Goals Conceded                   1114 non-null   int64
 40  Clean Sheets                     1114 non-null   int64
 41  Saves Made                       1114 non-null   int64
 42  Penalties Faced                  1114 non-null   int64
 43  penalty_attempts                 1114 non-null   int64
 44  penalties_scored                 1114 non-null   int64
 45  penalties_saved                  1114 non-null   int64
 46  penalty_save_precentage          1114 non-null   int64
dtypes: float64(2), int64(41), object(4)
memory usage: 417.8+ KB

Vérification si la table est ok

In [9]:
df.duplicated().any()

np.False_

vérification s'il y a des doublons

In [11]:
df2 = pd.read_pickle('df2_modifie.pkl')

Ajout de la table df2 pour mettre les colonnes country, club, image et position

In [12]:
df = df.merge(
    df2[['player_name', 'player_image_url', 'player_country', 'player_club', 'player_position']],
    on='player_name',
    how='left'
)

In [13]:
df.head()

,player_name,Nationality,Preferred Foot,Date of Birth,appearances_,sub_appearances,XA,pass_attempts,pass_accuracy,long_pass_attempts,...,Saves Made,Penalties Faced,penalty_attempts,penalties_scored,penalties_saved,penalty_save_precentage,player_image_url,player_country,player_club,player_position
0,Max Aarons,England,Right,04/01/2000,3,2,0.02,51,80,5,...,0,0,0,0,0,0,https://resources.premierleague.com/premierlea...,England,Bournemouth,Defender
1,George Abbott,England,Right,17/08/2005,0,0,0.00,0,0,0,...,0,0,0,0,0,0,https://resources.premierleague.com/premierlea...,England,Tottenham Hotspur,Midfielder
2,Zach Abbott,England,Right,13/05/2006,0,0,0.00,0,0,0,...,0,0,0,0,0,0,https://resources.premierleague.com/premierlea...,England,Nottingham Forest,Defender
3,Josh Acheampong,England,Right,05/05/2006,4,2,0.02,123,84,14,...,0,0,0,0,0,0,https://resources.premierleague.com/premierlea...,England,Chelsea,Defender
4,Ché Adams,England,NaN,13/07/1996,0,0,0.00,0,0,0,...,0,0,0,0,0,0,https://resources.premierleague.com/premierlea...,Scotland,Southampton,Forward

In [14]:
df[df['player_country'] != 'England']['player_name']

4                Ché Adams
5              Tyler Adams
7           Tayo Adaramola
8       Valintino Adedokun
9            Simon Adingra
               ...
1109         Edson Álvarez
1110        Julián Álvarez
1111       Odsonne Édouard
1112       Martin Ødegaard
1113             Enes Ünal
Name: player_name, Length: 648, dtype: object

In [15]:
df.loc[df['player_name'] == 'Martin Ødegaard']

,player_name,Nationality,Preferred Foot,Date of Birth,appearances_,sub_appearances,XA,pass_attempts,pass_accuracy,long_pass_attempts,...,Saves Made,Penalties Faced,penalty_attempts,penalties_scored,penalties_saved,penalty_save_precentage,player_image_url,player_country,player_club,player_position
1112,Martin Ødegaard,Norway,Left,17/12/1998,30,4,6.66,1389,87,57,...,0,0,1,1,0,0,https://resources.premierleague.com/premierlea...,Norway,Arsenal,Midfielder

In [16]:
df_diff = df[df['Nationality'] != df['player_country']]

In [17]:
df_diff['player_name']

4             Ché Adams
271        Jamie Donley
356         Joe Gardner
391       Ben Greenwood
466      Mackenzie Hunt
679       Zane Monlouis
718        Corrie Ndaba
756     Temple Ojinnaka
1073    Malick Yalcouyé
1088      Diego Moreira
Name: player_name, dtype: object

Liste de tout les joueurs ayant une valeur différentes entre Nationality et player_country. Je ne vais pas y prendre en compte et garder la valeur de player_country

In [19]:
df_diff[['player_name', 'Nationality', 'player_country']]

          player_name           Nationality player_country
4           Ché Adams               England       Scotland
271      Jamie Donley      Northern Ireland        England
356       Joe Gardner               Ireland        England
391     Ben Greenwood               England        Ireland
466    Mackenzie Hunt  United Arab Emirates        England
679     Zane Monlouis               England        Jamaica
718      Corrie Ndaba               England        Ireland
756   Temple Ojinnaka                 Italy        England
1073  Malick Yalcouyé         Cote d’Ivoire           Mali
1088    Diego Moreira               Belgium       Portugal

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 51 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      1114 non-null   object
 1   Nationality                      1114 non-null   object
 2   Preferred Foot                   1001 non-null   object
 3   Date of Birth                    1114 non-null   object
 4   appearances_                     1114 non-null   int64
 5   sub_appearances                  1114 non-null   int64
 6   XA                               1114 non-null   float64
 7   pass_attempts                    1114 non-null   int64
 8   pass_accuracy                    1114 non-null   int64
 9   long_pass_attempts               1114 non-null   int64
 10  long_pass_accuracy               1114 non-null   int64
 11  Minutes Played                   1114 non-null   int64
 12  Duels Won                        1114 non-null   int64
 13  Total Tackles                    1114 non-null   int64
 14  Interceptions                    1114 non-null   int64
 15  Blocks                           1114 non-null   int64
 16  Red Cards                        1114 non-null   int64
 17  Yellow Cards                     1114 non-null   int64
 18  XG                               1114 non-null   float64
 19  Touches in the Opposition Box    1114 non-null   int64
 20  Aerial Duels Won                 1114 non-null   int64
 21  Assists                          1114 non-null   int64
 22  Shots On Target Inside the Box   1114 non-null   int64
 23  cross_attempts                   1114 non-null   int64
 24  cross_accuracy                   1114 non-null   int64
 25  dribble_attempts                 1114 non-null   int64
 26  dribble_accuracy                 1114 non-null   int64
 27  Fouls                            1114 non-null   int64
 28  Goals                            1114 non-null   int64
 29  Hit Woodwork                     1114 non-null   int64
 30  Offsides                         1114 non-null   int64
 31  Shots On Target Outside the Box  1114 non-null   int64
 32  Corners Taken                    1114 non-null   int64
 33  Appearances                      1114 non-null   int64
 34  free_kick_attempts               1114 non-null   int64
 35  free_kicks_scored                1114 non-null   int64
 36  Passes                           1114 non-null   int64
 37  Own Goals                        1114 non-null   int64
 38  Penalties Taken                  1114 non-null   int64
 39  Goals Conceded                   1114 non-null   int64
 40  Clean Sheets                     1114 non-null   int64
 41  Saves Made                       1114 non-null   int64
 42  Penalties Faced                  1114 non-null   int64
 43  penalty_attempts                 1114 non-null   int64
 44  penalties_scored                 1114 non-null   int64
 45  penalties_saved                  1114 non-null   int64
 46  penalty_save_precentage          1114 non-null   int64
 47  player_image_url                 1114 non-null   object
 48  player_country                   1114 non-null   object
 49  player_club                      1114 non-null   object
 50  player_position                  1114 non-null   object
dtypes: float64(2), int64(41), object(8)
memory usage: 444.0+ KB

Maj, en faite sa nationalité correspond à l'équipe national pour laquelle il joue, et player_country correspond à son pays de naissance

In [22]:
df.to_csv("stats_player_ok.csv", index=False)